li {
    list-style: none;
}

footer {
    border-top: solid 2px;
    border-color:#4b6cb7;
}

.borderprogram {
    border-top: solid 1px;
    border-color:#434343;
    border-bottom: solid 1px;
    border-color:#434343;
}
.borderprogram2 {
    border-top: solid 1px;
    border-color:#434343;
}

.bg-dblack {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dblue {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dceleste {
 background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-dpurple{
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-pink{
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dblue2{
    background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-dyellow{
    background: #EDE574;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dwhite{
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-coral{ background: coral}
.bg-red{ background: #870000 }
.bg-violet{ background: mediumvioletred}
.bg-brown {background: brown}
.bg-burlywood {background: burlywood}
.bg-chocolate {background: chocolate}
.bg-cadetblue {background:cadetblue}
.bg-darckgoldenrod {background:darkgoldenrod}
.bg-1 {background: #2F0743}
.bg-2 {background: #237a57}
.bg-3 {background: #c31432}
.bg-4 {background: #6a9113}
.bg-5 {background: #CAC531}
.bg-6 {background: #5D26C1}
.bg-7 {background: #f7b733}



.hero-image {
  height: 700px;
  background-position:center; /* Center the image */
  background-attachment: fixed;
  background-size: cover;
  background-image: url("/assets/images/fondocel.jpeg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.font {
    font-family: 'Text Me One', sans-serif; 
}
.rubik {
    font-family: 'Rubik', sans-serif;
}
.ave {
    font-family: 'Sedgwick Ave', cursive;
}
.josefin {
    font-family: 'Josefin Sans', sans-serif;
}
